.Drawer {
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    box-sizing: border-box;
    width: 80%;
    max-width: 300px;
    padding: 10px 20px;
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 90;
}

.Drawer.close {
    transform: translateX(-300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer ul li {
    margin-bottom: 15px;
}

.Drawer ul li a {
    color: #363f54;
    position: relative;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    padding: 0 20px 10px 20px;
}

.Drawer ul li a:hover .active {
    color: #2884f6;
}
